<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerakan Silat</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville">
</head>
<body class="background" class="p-3 m-0 border-0 bd-example">
    <nav class=" container-fluid navbar fw-bold d-flex">
    
        <!-- <a class="navbar-brand fs-1" style="font-family: fjalla one; font: size 90px; margin-left: 90px; " href="index.html">AiThernals</a> -->
        <nav class="navbar">
            <a href="/" class="aithernals fw-bold"
              >AiThernals
              <p class="beranda">Beranda</p>
            </a>
          </nav>
         
          <div class="block-waktu">
            <div class="btn">
              <a id="./img/white-sejarah-silat.png" href="/sejarah_silat">
                <img
                  src="/static/img/white-sejarah-silat.png"
                  href="/sejarah_silat"
                  id="image-top"
                />
              </a>
            </div>
            <div class="btn" style="margin: top 0;">
                <img src="/static/img/kuning-gerakan-silat.png" class="img-fluid" id=".img/img-history">
            </div>
            <div class="btn">
              <a id="./img/white-pendekteksi-gerakan.png" href="/index">
                <img
                  src="/static/img/white-pendekteksi-gerakan.png"
                  href="/index"
                  id="image-top"
                />
              </a>
            </div>
            <div class="btn" style="margin-top:0px">
                <a id="./img/white-waktu-sehat.png" href="/waktu_sehat">
                    <img src="/static/img/white-waktu-sehat.png" href="/waktu_sehat" id=".img/img-history">
                </a>                      
            </div>
        </div>
    </nav>
    
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21" ></button>

    </div>
      <div class="carousel-inner">
            
        <div class="carousel-item active" >
            
                <div class="btn margin-gerakan" style="margin-top:30px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <h1 style="font-size: 70px; font-family:bevan; font-weight:bold; margin-top:250px">Berikut adalah beberapa Gerakan Dasar Silat
                        <p style="font-size: 60px; margin-top: 40px"></p>
                    </h1>

                    
                    <p style="font-size: 20px; line-height: 30px; margin: 30px 130px 0 130px; font-family:bevan; text-align:justify ">
                        
                        </p>
                        
                        
                </div>
            </div>

            <div class="carousel-item"  >
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    
                    <img src="/static/img/Kembangan-minang.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KEMBANGAN MINANG</h3>

                        
                        <p style="font-size: 36px; line-height: 60px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">Kembangan Minang adalah gerakan seni yang berasal dari Minangkabau
                            dengan gerakan seni seperti sedang menari asal adat Minangkabau
                            

                        </div>
                        
                
            </div>

            <div class="carousel-item"  >
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    
                    <img src="/static/img/Kembangan-Dasar.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KEMBANGAN DASAR</h3>

                        
                        <p style="font-size: 36px; line-height: 60px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kembangan Dasar adalah gerakan dasar pada saat memulai gerakan silat atau biasa disebut salam pembuka


                        </div>
                        
                
            </div>

            <div class="carousel-item"  >
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kembangan-macan.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KEMBANGAN MACAN</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kembangan Macan dapat bervariasi tergantung pada aliran atau perguruan silat yang dipraktikkan.
                            Setiap aliran atau perguruan silat memiliki kembangan yang khas dan unik, termasuk Kembangan Macan. 
                            Beberapa gerakan umum yang sering digunakan dalam Kembangan Macan meliputi: Gerakan Cakar, 
                            Gerakan Melompat, Gerakan Berguling,  Gerakan Taring. Kembangan Macan, seperti halnya gerakan-gerakan 
                            lain dalam silat, merupakan bagian penting dari latihan dan pertarungan dalam seni bela diri silat. 
                            Gerakan-gerakan ini mengembangkan kekuatan, kelincahan, kecepatan, dan keberanian yang merupakan 
                            karakteristik yang diidentifikasikan dengan harimau. 
      
                </div>
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kembangan-Garuda.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KEMBANGAN GARUDA</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kembangan Garuda dalam silat sering kali meniru gerakan dan karakteristik burung Garuda. 
                            Kembangan Garuda dapat bervariasi tergantung pada aliran atau perguruan silat yang dipraktikkan. 
                            Beberapa gerakan umum yang sering digunakan dalam Kembangan Garuda meliputi: Gerakan Sayap, 
                            Gerakan Melompat, Gerakan Cakar, dan Gerakan Penglihatan. 
                            Kembangan Garuda juga mencakup gerakan yang melibatkan pergerakan kepala dan mata, menirukan 
                            kepekaan mata Garuda. Gerakan penglihatan ini membantu memperkuat konsentrasi dan memperluas 
                            pengamatan selama pertarungan.Selain itu, gerakan ini sering digunakan dalam latihan atau pertarungan sebenarnya.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kuda-kuda-depan.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KUDA-KUDA DEPAN</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                           Kuda-kuda belakang merupakan lawan dari kuda-kuda depan karena kaki yang ditekuk ke arah berbeda. Posisi ini juga digunakan untuk menahan serangan dari depan. Kuda-kuda belakang dilakukan dengan menempatkan kaki kanan di depan dan kaki kiri di belakang dalam satu garis lurus. Tekuk kaki belakang dan kaki depan agak diluruskan. Fokuskan berat badan Anda pada kaki belakang.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kuda-kuda-belakang.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KUDA-KUDA BELAKANG</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kuda-kuda belakang merupakan lawan dari kuda-kuda depan karena kaki yang ditekuk ke arah berbeda. Posisi ini juga digunakan untuk menahan serangan dari depan. Kuda-kuda belakang dilakukan dengan menempatkan kaki kanan di depan dan kaki kiri di belakang dalam satu garis lurus. Tekuk kaki belakang dan kaki depan agak diluruskan. Fokuskan berat badan Anda pada kaki belakang.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kuda-kuda-sejajar-tengah.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KUDA-KUDA SEJAJAR (TENGAH) </h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kedua kaki ditekuk hingga hampir membentuk sudut 90 derajat. Posisi ini membuat berat badan ditopang oleh kedua kaki. Kuda-kuda tengah lumrah digunakan untuk menahan serangan lawan yang datang dari depan sehingga Anda tidak terdorong ke belakang. Di mulai dari sikap berdiri tegak 2, kemudian kaki kangkang titik keseimbangan badan terletak ditengah-tengah. Pelaksanaanya badan tegak pandangan ke depan, kedua lutut sedikit ditekuk segaris tegak lurus dengan ibu jari kaki kiri dan kanan

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kuda-kuda-samping-kanan.png" style="margin-left: 30px; margin-top:20px " width="470" height="600" class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KUDA-KUDA LETTER KIRI</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Kuda-kuda Letter Kiri digunakan untuk serangan berputar. Kuda-kuda ini diawali dengan membuka kaki selebar bahu,
                            kemudian tekuk salah satu kaki yang dianggap paling dominan. Patut dingat, posisi kedua kaki harus sejajar.
                            Selanjutnya, tempatkan seluruh berat badan pada kaki yang ditekuk sebagai tumpuan sehingga posisi badan lebih
                            condong pada kaki tersebut. Dengan posisi ini, Anda akan lebih mudah mengumpulkan kekuatan dari satu sisi.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/kuda-kuda-samping-kiri.png" style="margin-left: 50px; margin-top:20px " width="470" height="600" class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">KUDA-KUDA LETTER KANAN</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                           Kuda-kuda Letter Kanan digunakan untuk serangan berputar. Kuda-kuda ini diawali dengan membuka kaki selebar bahu, 
                           kemudian tekuk salah satu kaki yang dianggap paling dominan. Patut dingat, posisi kedua kaki harus sejajar.
                           Selanjutnya, tempatkan seluruh berat badan pada kaki yang ditekuk sebagai tumpuan sehingga posisi badan lebih 
                           condong pada kaki tersebut. Dengan posisi ini, Anda akan lebih mudah mengumpulkan kekuatan dari satu sisi.

                        </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/pukulan-depan.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">PUKULAN DEPAN</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Teknik ini merupakan pukulan yang lintasannya lurus ke depan. Pukulan ini dapat dilakukan dengan dua macam sikap yang berbeda. Pertama posisi kaki di depan, namun tangan sejajar. Kedua, posisi kaki di depan, namun tangan tidak sejajar. Pukulan depan ini memiliki fungsi untuk memberikan serangan kepada lawan secara cepat dan tepat. Hal ini dilakukan untuk lebih meminimalisasi resiko cedera untuk diri kita sendiri. Apalagi dalam suatu pertandingan pencak silat, pukulan lurus sering kali digunakan untuk mencetak poin dengan cepat

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/pukulan-bandul.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">PUKULAN BANDUL</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Pukulan ini seperti gerakan bandul, yakni pukulan yang gerakan tangannya dari bawah ke atas. Siku ditekuk 90o dengan kaki yang sejajar dengan maupun tidak sejajar. Sasaran pukulan bandul dalam pencak silat adalah bagian ulu hati dari pihak lawan, dengan arah serangan dari bagian bawah. Ketika serangan dilakukan, tangan lain yang tidak melakukan pukulan melindungi dada sehingga tidak terkena balasan dari lawan.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/pukulan-gedik.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">PUKULAN GEDIK</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Pukulan gedik dalam konteks seni bela diri silat merujuk pada salah satu teknik pukulan atau serangan yang digunakan dalam praktik silat. "Gedik" sendiri merupakan istilah dalam bahasa Indonesia yang menggambarkan serangan yang cepat, tajam, dan presisi. Pukulan gedik dalam silat sering kali menekankan pada kecepatan, ketepatan, dan kelincahan. Teknik ini dapat digunakan untuk menyerang area vital lawan, seperti wajah, leher, rusuk, atau bagian tubuh yang rentan. 

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/pukulan-sikut-atas.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">PUKULAN SIKUT ATAS</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Cara melakukan pukulan menggunakan siku atas adalah dengan menekuk siku dan arahkan siku ke depan atas ke arah sasaran. Pukulan siku atas merupakan salah satu jenis serangan menggunakan tangan dalam pencak silat.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/pukulan-sikut-samping.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">PUKULAN SIKUT SAMPING</h3>

                        
                        <p style="font-size: 36px; line-height: 60px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Pukulan Sikut Samping lebih bertumpu pada kekuatan sikut sehingga sikut bisa menjadi pukulan telak ke kepala atau bisa juga menahan pukulan musuh
                            
                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tendangan-T.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TENDANGAN T</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Tendangan T merupakan sebutan lain untuk macam tendangan ke arah samping. Tendangan samping ini memiliki berbagai macam variasi yang pada dasarnya memakai tumit atau sisi luar telapak kaki. Istilah dari tendan ini biasa disebut sebagai pisau kaki yang berfungsi sebagai alat serangan

                        </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tendangan-lurus-A.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TENDANGAN LURUS A</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Tendangan lurus dilakukan dengan cara posisi awal berdiri dengan salah satu kaki sebagai tumpuan. Kemudian lutut ditekuk dan diangkat dan luruskan tungkai bawah dengan jari-jari kaki bagian dalam dikenakan pada sasaran. Selanjutnya salah satu tangan ditekuk, kemudian tangan yang menutup tubuh bagian bawah dan atas

                        </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tolakan-atas.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TOLAKAN ATAS</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Bertujuan untuk mengelakkan diri dari serangan di bagian bawah. Cara melakukannya yaitu dengan mengangkat kedua kaku dengan posisi tungkai ditekuk. Akhiri dengan mendarat kaki silang disusul dengan kedua kaki.

                </div>
                
              
            </div>

            <div class="carousel-item " >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tolakan-bawah.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TOLAKAN BAWAH</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Tujuannya adalah mengelakkan diri dari serangan di bagian tubuh atas. Cara melakukannya adalah dengan merendahkan diri dengan menekuk lutut, dengan catatan tumpuan kaki nggak boleh berpindah. Sikap tubuh dan tangan juga harus selalu waspada.

                </div>
                
              
            </div>

            <div class="carousel-item" >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tolakan-samping-kanan.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TOLAKAN SAMPING KANAN</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Tujuan tolakan ini adalah mengelakkan diri dari serangan lurus depan atas. Dari sikap kangkang, pindahkan badan ke samping dengan mengubah kuda-kuda awal.

                </div>
                
              
            </div>

            <div class="carousel-item" >
            
                <div class="btn margin-sejarah" style="margin-top:60px; background-color:#DFCDC3 ; margin-left: 100px; margin-right:100px; height: 600px; align-items:center; width: 90%;">
                    <img src="/static/img/tolakan-samping-kiri.png" style="margin-left: 50px; margin-top:20px " class="rounded float-start" >
                    <h3 style="font-size: 28px; line-height: 38px; margin: 80px 100px 0 100px; font-family:bevan; font-weight:bold; text-align:justify">TOLAKAN SAMPING KIRI</h3>

                        
                        <p style="font-size: 28px; line-height: 38px; margin: 10px 130px 0 130px; font-family:bevan; text-align:justify ">
                            Tujuan tolakan ini adalah mengelakkan diri dari serangan lurus depan atas. Dari sikap kangkang, pindahkan badan ke samping dengan mengubah kuda-kuda awal.

                        </div>
                
              
            </div>
        
        </div>    
      
   
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden=""></span>
                    <span class="visually-hidden">Next</span>
                </button>
      </div>
    </div>
</div>
</body>
<footer>&copy; Copyright & Stuff 2023. By AiThernals</footer>
</html>