<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendeteksi Gerakaan Pencak Silat</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville"
    />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bevan" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Dancing+Script"
    />
  </head>
  <body class="html-body">
    <nav class="navbar navbar-dark navbar-bot d-flex navbar-expand-lg">
      <div class="container-fluid">
        <a class="aithern-index" href="/aithernals">AiThernals</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <div class="btn">
            <a id="static\img\about.png" href="/about">
              <img
                src="/static/img/about.png"
                href="/about"
                id=".img/about"
                width="50"
                height="70"
              />
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid justify-content-center">
      <div class="col align-center">
        <div class="col float-end" id="orangpecak">
          <img src="/static/img/img-orang-pecak.png" class="img-fluid" alt="" />
        </div>

        <div class="col">
          <div class="col align-center">
            <h1 class="welcome text-center" id="selamatdatang">
              Selamat Datang
            </h1>
            <h1 class="text-center text-center title">PECAKS</h1>
            <hr class="col border border-2" />
            <h1 class="desc text-center">Pendeteksi Gerakan Pencak Silat</h1>
          </div>

          <div class="container-fluid text-center">
            <div class="block-index">
              <div class="btn-index">
                <a id="img/img-history.png" href="/sejarah_silat">
                  <img
                    src="/static/img/img-history.png"
                    href="/sejarah_silat"
                    id=".img/img-history"
                  />
                </a>
              </div>
              <div class="btn-index">
                <a id="./img/img-gerakan-silat.png" href="/gerakan_silat">
                  <img
                    src="/static/img/img-gerakan-silat.png"
                    href="/gerakan_silat"
                    id=".img/img-history"
                  />
                </a>
              </div>
              <div class="btn-index">
                <a id="./img/img-pendeteksi-gerakan.png" href="/index">
                  <img
                    src="/static/img/img-pendeteksi-gerakan.png"
                    href="/index"
                    id=".img/img-history"
                  />
                </a>
              </div>
              <div class="btn-index">
                <a id="./img/img-waktu-sehat.png" href="/waktu_sehat">
                  <img
                    src="/static/img/img-waktu-sehat.png"
                    href="/waktu_sehat"
                    id=".img/img-history"
                  />
                </a>
              </div>
            </div>

            <!-- <a class="aithern" href="aithernals.html">Apa itu AiThernals?</a> -->
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer>&copy; Copyright & Stuff 2023. By AiThernals</footer>
</html>
