<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sejarah Silat</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville"
    />
  </head>
  <body style="background-color: black">
    <nav class="navbar">
      <a href="/" class="aithernals fw-bold"
        >AiThernals
        <p class="beranda">Beranda</p>
      </a>

      <div class="block-sejarah">
        <div class="btn">
          <a id="./img/kuning-sejarah-silat.png">
            <img src="/static/img/kuning-sejarah-silat.png" id="image-top" />
          </a>
        </div>
        <div class="btn">
          <a id="./img/white-gerakan-silat.png" href="/gerakan_silat">
            <img
              src="/static/img/white-gerakan-silat.png"
              href="/gerakan_silat"
              id=".image-top"
            />
          </a>
        </div>
        <div class="btn">
          <a id="./img/white-pendekteksi-gerakan.png" href="/index">
            <img
              src="/static/img/white-pendekteksi-gerakan.png"
              href="/index"
              id="image-top"
            />
          </a>
        </div>
        <div class="btn">
          <a id="./img/white-waktu-sehat.png" href="/waktu_sehat">
            <img
              src="/static/img/white-waktu-sehat.png"
              href="/waktu_sehat"
              id="image-top"
            />
          </a>
        </div>
      </div>
    </nav>

    <div class="margin-sejarah">
      <h1 class="teks">SEJARAH SILAT</h1>
      <p class="paragraf-1">
        Sejarah pencak silat di Indonesia sudah ada sejak zaman prasejarah. Pada
        masa prasejarah, manusia harus mempertahankan hidupnya dari kerasnya
        alam. Pada masa tersebut, manusia harus melawan berbagai binatang buas,
        seperti harimau, ular, buaya, dan hewan buas lainnya yang hidup di hutan
        tropis. Oleh sebab itu, gerakan-gerakan melawan binatang buas tersebut
        menginspirasi jurus di dalam olahraga pencak silat. Pada saat ini, kita
        bisa melihat jurus-jurus di dalam pencak silat yang banyak menyerupai
        gerakan-gerakan hewan seperti gerakan cakar harimau, gerakan ular,
        gerakan buaya dan gerakan lainnya.
      </p>

      <p class="paragraf-1">
        Pencak silat sendiri merupakan bela diri yang merupakan perkembangan
        keahlian masyarakat suku asli Indonesia saat berburu serta berperang
        dengan alat-alat perang pada zaman itu, yakni tombak, perisai, dan
        parang. Banyak ahli sejarah mengungkapkan pencak silat pertama kali
        ditemukan di Provinsi Riau pada zaman Kerajaan Sriwijaya. Pada masa
        tersebut gerakan silat masih sangat sederhana, yakni hanya mencakup
        gerakan tangan dan kaki. Seiring berjalannya waktu, pencak silat terus
        berkembang dan mulai memasuki wilayah Semenanjung Malaka dan juga di
        Pulau Jawa.
      </p>

      <h1 class="teks">PERKEMBANGAN SILAT</h1>

      <h3 class="teks-h3">1. Perkembangan pada masa Kerajaan</h3>
      <p class="paragraf">
        Para ahli beladiri dan pendekar mendapat tempat yang tinggi di
        masyarakat. Begitu pula para empu yang membuat senjata pribadi yang
        ampuh seperti keris, tombak, dan senjata khusus. Pasukan yang kuat di
        zaman Kerajaan Sriwijaya dan Majapahit serta kerajaan lainnya di masa
        itu terdiri dari prajurit-prajurit yang mempunyai keterampilan pembelaan
        diri yang tinggi.
      </p>

      <h3 class="teks-h3">2. Perkembangan pada masa Belanda</h3>
      <p class="paragraf">
        Pemerintah Belanda tidak memberi kesempatan perkembangan pencak silat
        atau pembelaan diri nasional, karena dipandang berbahaya terhadap
        kelangsungan penjajahannya. Larangan berlatih beladiri diadakan bahkan
        larangan untuk berkumpul dan berkelompok. Kegiatan pencak silat
        dilakukan dengan sembunyi-sembunyi dan hanya dipertahankan oleh
        kelompok-kelompok kecil.
      </p>

      <h3 class="teks-h3">3. Perkembangan pada masa Jepang</h3>
      <p class="paragraf">
        Pencak silat sebagai ilmu nasional didorong dan dikembangkan untuk
        kepentingan Jepang sendiri, dengan mengobarkan semangat pertahanan
        menghadapi sekutu. Di mana-mana atas anjuran Shimitsu diadakan pemusatan
        tenaga aliran pencak silat.
      </p>

      <h3 class="teks-h3">4. Perkembangan pada masa Kemerdekaan</h3>
      <p class="paragraf">
        Periode Perintisan (tahun 1948-1955) Pada tanggal 18 Mei 1948 di Solo
        (menjelang PON ke I), para pendekar berkumpul dan membentuk organisasi
        Ikatan Pencak Silat Seluruh Indonesia (IPSSI). Ketua umum pertama IPSSI
        adalah Mr. Wongsonegoro. Kemudian diubah namanya menjadi Ikatan Pencak
        Silat Indonesia (IPSI). Periode Konsolidasi dan Pemantapan (tahun
        1955-1973) Setelah terbentuknya organisasi pencak silat, maka IPSI
        mengonsolidasikan anggota- anggota perguruan pencak silat di seluruh
        Indonesia. Tujuannya untuk memantapkan program sehingga pencak silat
        selain sebagai beladiri juga dapat dipakai olahraga, sehingga  dibuatlah
        peraturan pertandingan pencak silat
      </p>
    </div>
  </body>
<footer>&copy;Copyright & Stuff 2023. By AiThernals</footer>
</html>
