<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sejarah Silat</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville"
    />
  </head>

  <body style="background-color: black">
    <nav class="navbar">
      <a href="/" class="aithernals fw-bold"
        >AiThernals
        <p class="beranda">Beranda</p>
      </a>

      <div class="block-waktu">
        <div class="btn">
          <a id="./img/white-sejarah-silat.png" href="/sejarah_silat">
            <img
              src="/static/img/white-sejarah-silat.png"
              href="/sejarah_silat"
              id="image-top"
            />
          </a>
        </div>

        <div class="btn">
          <a id="./img/white-gerakan-silat.png" href="/gerakan_silat">
            <img
              src="/static/img/white-gerakan-silat.png"
              href="/gerakan_silat"
              id=".image-top"
            />
          </a>
        </div>
        <div class="btn">
          <a id="./img/white-pendekteksi-gerakan.png" href="/index">
            <img
              src="/static/img/white-pendekteksi-gerakan.png"
              href="/index"
              id="image-top"
            />
          </a>
        </div>
        <div class="btn">
          <a id="./img/kuning-waktu-sehat.png">
            <img src="/static/img/kuning-waktu-sehat.png" id="image-top" />
          </a>
        </div>
      </div>
    </nav>

    <div class="margin-waktu">
      <h1 class="teks">WAKTU SEHAT</h1>
      <p class="paragraf-1">
        Seperti halnya manfaat olahraga lainnya, pencak silat sebagai salah satu
        bidang ilmu beladiri juga dapat meningkatkan kebugaran karena otot yang
        ada akan terlatih untuk bergerak dan membuat tubuh menjadi lebih sehat.
        Beladiri juga dapat meningkatkan daya tahan tubuh dan tidak mudah sakit.
        Adapun gerakan-gerakan yang mengandung unsur kecepatan, yang memacu
        fungsi jantung dan paru-paru sehingga peredaran darah dan nafas akan
        lebih lancar, seperti halnya senam aerobik dan gym.
      </p>

      <p class="paragraf-1">
        Untuk mendapatkan manfaat yang maksimal, pola konsumsi dan latihan fisik
        memiliki waktu-waktu idealnya sendiri untuk dilakukan sebagai rutinitas
        sehari-hari. Opsi jam yang ideal untuk melakukan latihan fisik adalah
        sebagai berikut:
      </p>

      <h3 class="teks-h3">1. Pagi hari (06.00 - 08.00)</h3>
      <p class="paragraf">
        Pada waktu ini, tubuh dan otak masih dalam kondisi yang segar sehingga
        melatih otot di awal hari akan meningkatkan energi dan membangkitkan
        tubuh selepas beristirahat di malam hari. Selain itu, aktivitas di pagi
        hari cenderung lebih sedikit sehingga pikiran akan terbebas dari
        gangguan yang muncul muncul sepanjang latihan. Berdasarkan studi pada
        2019 yang diterbitkan oleh British Journal of Sports Medicine, melatih
        fisik di pagi hari dari dapat meningkatkan perhatian, pembelajaran
        visual, dan pengambilan keputusan. Sebuah studi yang diterbitkan dalam
        Medicine & Science in Sport & Exercise menambahkan bahwa melatih otot
        juga membantu mengatur nafsu makan dengan mengurangi ghrelin, hormon
        kelaparan, dan meningkatkan hormon kenyang. Dampak lainnya juga
        dirasakan ketika di malam hari, cahaya yang telah diterima tubuh di pagi
        hari dapat meningkatkan kadar melatonin sehingga tidur akan lebih cepat
        lelap dan pulas.
      </p>

      <h3 class="teks-h3">2. Siang hari (12.00-14.00)</h3>
      <p class="paragraf">
        Pemerintah Belanda tidak memberi kesempatan perkembangan pencak silat
        atau pembelaan diri nasional, karena dipandang berbahaya terhadap
        kelangsungan penjajahannya. Larangan berlatih beladiri diadakan bahkan
        larangan untuk berkumpul dan berkelompok. Kegiatan pencak silat
        dilakukan dengan sembunyi-sembunyi dan hanya dipertahankan oleh
        kelompok-kelompok kecil.
      </p>

      <h3 class="teks-h3">3. Sore atau malam hari (17.00 - 20.00)</h3>
      <p class="paragraf">
        Waktu sore memiliki manfaat yang relatif sama dengan pagi hari. Melatih
        fisik pada waktu ini dapat meningkatkan kualitas tidur sehingga tubuh
        dapat beristirahat dengan optimal. Manfaat lainnya jika melakukan
        latihan beladiri di sore hari ialah, dapat mengurangi stress dan
        mengangkat beban aktivitas yang telah dilakukan sepanjang hari. Tambahan
        manfaat lainnya, pembakaran kalori dapat meningkatkan kekuatan otot dan
        enzim yang ada pada tubuh.
      </p>

      <p class="paragraf">
        Periode Perintisan (tahun 1948-1955) Pada tanggal 18 Mei 1948 di Solo
        (menjelang PON ke I), para pendekar berkumpul dan membentuk organisasi
        Ikatan Pencak Silat Seluruh Indonesia (IPSSI). Ketua umum pertama IPSSI
        adalah Mr. Wongsonegoro. Kemudian diubah namanya menjadi Ikatan Pencak
        Silat Indonesia (IPSI). Periode Konsolidasi dan Pemantapan (tahun
        1955-1973) Setelah terbentuknya organisasi pencak silat, maka IPSI
        mengonsolidasikan anggota- anggota perguruan pencak silat di seluruh
        Indonesia. Tujuannya untuk memantapkan program sehingga pencak silat
        selain sebagai beladiri juga dapat dipakai olahraga, sehingga  dibuatlah
        peraturan pertandingan pencak silat
      </p>
    </div>
  </body>
  <footer>&copy; Copyright & Stuff 2023. By AiThernals</footer>

</html>
